@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

.swiper-pagination-bullet {
  background-color: white !important;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 45ch;
}

header,
footer,
main,
section,
article {
  container-type: inline-size;
}

.swiper {
  display: flex;
  align-items: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
